body {
  margin: 0;
  padding: 0;
  background: rgb(34,35,48);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  position: fixed;
  background-color: transparent;
  box-shadow: none;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: .2em 2em;
  float: left;
}

nav ul li {
  border: dotted white;
  margin: .5rem 1rem 0 1rem;

}
nav ul li a{
    position:relative;
    z-index: 1;
    font-size: 1.5rem;
    height: 4rem;
    width: 6rem;
}
nav ul li a:hover{
    color: black;
    text-decoration: none;
}
nav ul li a:after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background-color: white;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
nav ul li a:hover:after{
    opacity: 1;
    visibility: visible;
    height: 100%;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  font-family: Ubuntu;
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 1px;
  transition: .25s ease-in-out;
}

.nav-bg {
  content: '';
  position: absolute;
  display: block;
  top: -225%;
  width: 100%;
  height: 225%;
  z-index: -1;
  background:rgb(63,18,23);
  box-shadow: 8px 0 15px rgb(3, 3, 31);
  transition: .35s ease-in-out;
}

.bg-hidden {
  top: -225%;
  opacity: 0;
}

.bg-visible {
  top: 0;
  opacity: 1;
}

h1 {
  text-align: center;
  font-family: Ubuntu;
  letter-spacing: 1px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(50, 50, 50);
  background: 	linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,.3)),
  url(https://i.pinimg.com/originals/90/58/a5/9058a5ec013afe7563cb32b507a5d586.jpg) no-repeat 50% 50% fixed;
  background-size: 130%;
  overflow: hidden;
}

.hero h1 {
  position: absolute;
  font-family: "PT Mono", monospace;
  top: 30%;
  left: 0;
  width: 100%;
  padding: .3em;

}
.content-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em
}
.content-wrapper p{
    width: 45%;
    margin: 1em 1em 8em 1em;
    font-size: 1.5em;
}
.textHeader{
  width: 45%;
  text-shadow: 10px 8px 10px rgb(55, 12, 75);
}
.row3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin-right: 10em;
}
.techIcons{
  display: flex;
  flex-wrap: wrap;
}
.techIcons img{
  height: 4em;
  width: 5em;
  margin-left:1em;
  margin-top: 1.75em;
}
.fa-html5{
  color: orangered;
  margin: .5em;
  width: 33%;
}
.fa-css3-alt{
  color: rgb(0, 201, 255);
  margin: .5em;
  width: 33%;
}
.fa-js-square{
  color: yellow;
  margin: .5em;
  width: 33%
}
.page-footer{
  display: flex;
  position: relative;
  bottom: -20em;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(78, 9, 9, 0.65);
  box-shadow: -8px 0 15px rgb(3, 3, 31);
}
.page-footer a{
  font-size: 1.5rem;
}