
body {
  margin: 0;
  padding: 0;
  height: 100vw;
  background: black;
  color: white;
}

nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: .2em 2em;
  float: right;
}

nav ul li {
  display: inline-flex;
  text-align: center;
  margin: 0;
  padding: .2rem .7rem;
}
nav ul li a{
    position:relative;
    z-index: 1;
    border: solid white;
    padding: .5rem 1rem .5rem 1rem;
}
nav ul li a:hover{
    color: white;
    text-decoration: none;
}
nav ul li a:after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
nav ul li a:hover:after{
    opacity: 1;
    visibility: visible;
    height: 100%;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  font-family: Ubuntu;
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 1px;
  transition: .25s ease-in-out;
}

.nav-bg {
  content: '';
  position: absolute;
  display: block;
  top: -200%;
  width: 100%;
  height: 200%;
  z-index: -1;
  background: rgb(50, 50, 50);
  transition: .45s ease-in-out;
}

.bg-hidden {
  top: -200%;
  opacity: 0;
}

.bg-visible {
  top: 0;
  opacity: 1;
}

h1 {
  text-align: center;
  font-family: Ubuntu;
  letter-spacing: 1px;
}

.hero {
  position: relative;
  width: 100%;
  height: 900px;
  background: rgb(50, 50, 50);
  background: url(https://doninmass.files.wordpress.com/2013/04/walking-in-rain-painting-wallpaper-hd.jpg) no-repeat 50% 50% fixed;
  background-size: 130%;
  overflow: hidden;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: .3em;
  font-size: 3em;
  font-weight: lighter;
}
